.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height:100vh;
	background-color: rgb(252,218,205);
	background-size: cover;
}
.end{
	position: absolute;
	top: 4780px;
	left: 850px;
	width: 400px;
	height: 220px;
	background-color: rgb(252,218,205);
}
.header{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1250px;
	height: 40px;
	background-color: rgb(59,44,58);
}
.HOME{
	position: absolute;
	top: 5px;
	left: 20px;
	width: 35px;
	height: 30px;
	background-image: url(homeicon.png);
}
.PERSON{
	position: absolute;
	top: 5px;
	left: 600px;
	width: 9px;
	height: 30px;
	background-image: url(personicon.png);
}
.ANIMAL{
	position: absolute;
	top: 5px;
	left: 709px;
	width: 25px;
	height: 30px;
	background-image: url(animalicon.png);
}
.OBJECT{
	position: absolute;
	top: 5px;
	left: 834px;
	width: 32px;
	height: 30px;
	background-image: url(objecticon.png);
}

.RANDOM{
	position: absolute;
	top: 5px;
	left: 966px;
	width: 16px;
	height: 30px;
	background-image: url(randomicons.png);
}
.STORM{
	position: absolute;
	top: 5px;
	left: 1082px;
	width: 49px;
	height: 30px;
	background-image: url(stormicon.png);
}
.headicon{
	position: absolute;
	top: 20px;
	left: 20px;
	background-image: url(cloudwebicon2.png);
	width: 400px;
	height: 275px;
}
.h4{
	position: absolute;
	top:400px;
	left: 20px;
	width: 400px;
	height: 200px;
	background-image: url(waves2.jpg);
}
.h12{
	position: absolute;
	top: 610px;
	left: 20px;
	width: 400px;
	height: 200px;
	background-image: url(arizona.jpg);
}
.h14{
	position: absolute;
	top: 820px;
	left: 20px;
	width: 400px;
	height: 200px;
	background-image: url(hurricane.jpg);
}
.h22{
	position: absolute;
	top:400px;
	left: 850px;
	width: 400px;
	height: 200px;
	background-image: url(waves.jpg);
}
.h24{
	position: absolute;
	top:610px;
	left: 850px;
	width: 400px;
	height: 200px;
	background-image: url(mountain.jpg);
}
.h25{
	position: absolute;
	top: 820px;
	left: 850px;
	width: 400px;
	height: 200px;
	background-image: url(youknow.jpg);
}
.h26{
	position: absolute;
	top:1030px;
	left: 850px;
	width: 400px;
	height: 200px;
	background-image: url(wellumfuck.jpg);
}
.h30{
	position: absolute;
	top:400px;
	left: 430px;
	width: 200px;
	height: 400px;
	background-image: url(magicnum.jpg);
}
.h38{
	position: absolute;
	top: 400px;
	left: 640px;
	width: 200px;
	height: 400px;
	background-image: url(ghostbusters.jpg);
}
.h40{
	position: absolute;
	top: 810px;
	left: 430px;
	width: 200px;
	height: 400px;
	background-image: url(wilson.jpg);
}
.h47{
	position: absolute;
	top: 810px;
	left: 640px;
	width: 200px;
	height: 400px;
	background-image: url(anx.jpg);
}
.h49{
	position: absolute;
	top: 1030px;
	left: 225px;
	width: 195px;
	height: 400px;
	background-image: url(boom.jpg);
}
.h60{
	position: absolute;
	top: 1030px;
	left: 20px;
	width: 195px;
	height: 400px;
	background-image: url(comma.jpg);
}
.end{
	position: absolute;
	top: 1050px;
	left: 225px;
	width: 195px;
	height: 400px;
	background-color: rgb(252,218,205);
}
