.bg{
	position: absolute;
	  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #212033;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}
.light{
	position: absolute;
	background-image: url("light-g.svg");
	width: 100vw;
	height: 400px;
	top: 0px;
	left: 0px;
	 animation-name: lightA;
	 animation-duration: 3s;
	 animation-iteration-count: infinite;
 	 animation-timing-function: ease-out;
 	 opacity: 100%;
}

@keyframes lightA{
  0% {
    clip: rect(0px, 0px, 250px, 0px);
  }
  100% {
    clip: rect(0px, 100vw, 250px, 0px);
  }
}

.med{
	position: absolute;
	background-image: url("med-g.svg");
	width: 100vw;
	height: 400px;
	top: 80px;
	left: 0px;
	animation-name: medA;
	 animation-duration: 5s;
	 animation-iteration-count: infinite;
 	 animation-timing-function: ease-in-out;
 	 opacity: 100%;
}

@keyframes medA{
  0% {
    clip: rect(50px, 0px, 350px, 0px);
  }
  100% {
    clip: rect(50px, 100vw, 350px, 0px);
  }
}

.dark{
	position: absolute;
	background-image: url("dark-g.svg");
	width: 100vw;
	height: 400px;
	top: 200px;
	left: 0px;
	animation-name: darkA;
	 animation-duration: 15s;
	 animation-iteration-count: infinite;
 	 animation-timing-function: ease-in-out;
 	 opacity: 100%;
}

@keyframes darkA{
  0% {
    clip: rect(50px, 0px, 450px, 0px);
  }
  100% {
    clip: rect(50px, 100vw, 450px, 0px);
  }
}

.blinking1{
	animation-name: blinkone;
	 animation-duration: 3s;
	 animation-iteration-count: infinite;
 	 animation-timing-function: ease-in-out;
}

@keyframes blinkone{
  0% {
    opacity: 1;
	}
  50%{
  	opacity: 0;
 	}
  100% {
    opacity: 1;
  }
}

.blinking2{
	animation-name: blinktwo;
	 animation-duration: 3s;
	 animation-iteration-count: infinite;
 	 animation-timing-function: ease-in-out;
}

@keyframes blinktwo{
  0% {
    opacity: 1;
  }
  50%{
  	opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking3{
	animation-name: blinkthree;
	 animation-duration: 3s;
	 animation-iteration-count: infinite;
 	 animation-timing-function: ease-in-out;
}

@keyframes blinkthree{
   0% {
    opacity: 1;
  }
  50%{
  	opacity: 0;
  }
  100% {
    opacity: 1;
}
}

.mountain{
	position: absolute;
	background-image: url("mountain.png");
	width: 100vw;
	height: 400px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}
.mountain2{
	position: absolute;
	background-image: url(mountain2.png);
	width: 100vw;
	height: 400px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
}
.moon{
  position: absolute;
   bottom: 0px;
  left: 850px;
  width: 300px;
  height: 300px;
  background-image: url("moon.png");
}
.alarm {
	bottom: 400px;
  left: 600px;
  animation-name: alarming;
   animation-duration: 3s;
   animation-iteration-count: 1;
   animation-timing-function: ease-in-out;
}
@keyframes alarming{
   0% {
     bottom: 0px;
  left: 850px;
  }

  100% {
    bottom: 400px;
  left: 600px;
  }
}
