h1{
color:pink;
}
p{
	color: rgb(52,255,226);
}
p{
	width: 500px;
}
img{
	width: 500px;
	opacity: 0.5;
}
ol{
	background-color: rgb(52,255,226);
	width: 200px;
}
body{

	background-color: black;
}
.special{
	color: pink;
}