body{
	background-color: white;
}
.box1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 375px;
	height: 115px;
	background-color: rgb(48,71,84);
	z-index: -1;
}
.black1{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	z-index: -1;
}
.box2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 375px;
	height: 210px;
	background-color: rgb(48,71,84);
	z-index: -1;
}
.black2{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	z-index: -1;
}
.box3{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 375px;
	height: 225px;
	background-color: rgb(48,71,84);
	z-index: -1;
}
.black3{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	z-index: -1;
}
.box4{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 375px;
	height: 150px;
	background-color: rgb(48,71,84);
	z-index: -1;
}
.black4{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -15px;
	z-index: -1;
}
.box5{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 375px;
	height: 200px;
	background-color: rgb(48,71,84);
	z-index: -1;
}
.black5{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	z-index: -1;
}
.home{
	position: absolute;
	left: 2px;
	top: 2px;
	width: 35px;
}
.icon1{
	position: absolute;
	left: 164px;
	top: 2px;
	width: 35px;
}
.icon2{
	position: absolute;
	left: 211px;
	top: 2px;
	width: 35px;
}
.icon3{
	position: absolute;
	left: 254px;
	top: 2px;
	width: 35px;
}
.icon4{
	position: absolute;
	left: 290px;
	top: 2px;
	width: 35px;
}
.icon5{
	position: absolute;
	left: 333px;
	top: 2px;
	width: 35px;
}
h1{
	font-family: 'Megrim', cursive;
	font-size: 32px;
	margin-left: 36px;
	margin-top: 52px;
	max-width: 340px;
	color: white;
}

h2{
	color: white;
	font-family: objektiv-mk1,sans-serif;
font-weight: 500;
font-style: normal;
	margin-left: 35px;
}

h3{
	color: black;
	font-family: objektiv-mk1,sans-serif;
	font-weight: 500;
	font-size: 20px;
	font-style: normal;
	margin-left: 20px;
	margin-bottom: -15px;
}

h4{
	color: white;
	font-family: objektiv-mk1,sans-serif;
font-weight: 500;
font-style: normal;
}

h5{
	margin-top: -50px;
	margin-left: 35px;
	max-width: 500px;
	color: black;
	font-family: Arial Narrow;
	font-size: 20px;
}

p{
	color: black;
	font-family: open-sans,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	max-width: 500px;
	margin-left: 20px;
	margin-right: ;
}
body{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.pic1{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
.pic2{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -68px;
}
.pic3{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}
.pic4{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -35px;
}
.pic5{
	width:100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
.a1r{
	position: absolute;
	top: 56px;
	left: 3px;
	width: 20px;
	max-width: 340px;
}
.a2l{
	position: absolute;
	top: 56px;
	left: 343px;
	width: 20px;
	max-width: 340px;
}
.h11{
	position: absolute;
	left: 30px;
	top: 80px;
	max-width: 340px;
}
.h12{
	position: absolute;
	left: 160px;
	top: 80px;
	max-width: 340px;
}
.line1{
	position: absolute;
	left: 148px;
	top: 102px;
	width: 2px;
	height: 20px;
	background-color: white;
}
.h21{
	position: absolute;
	left: 35px;
	top: 155px;
	max-width: 340px;
}
.h22{
	position: absolute;
	left: 148px;
	top: 155px;
	max-width: 340px;
}
.line2{
	position: absolute;
	left: 138px;
	top: 177px;
	width: 2px;
	height: 20px;
	background-color: white;
}
.h31{
	position: absolute;
	left: 35px;
	top: 193px;
	max-width: 340px;
}
.h32{
	position: absolute;
	left: 195px;
	top: 193px;
	max-width: 340px;
}
.line3{
	position: absolute;
	left: 182px;
	top: 215px;
	width: 2px;
	height: 20px;
	background-color: white;
}
.h41{
	position: absolute;
	left: 35px;
	top: 120px;
	max-width: 340px;
}
.h42{
	position: absolute;
	left: 185px;
	top: 120px;
	max-width: 340px;
}
.line4{
	position: absolute;
	left: 172px;
	top: 142px;
	width: 2px;
	height: 20px;
	background-color: white;
}
.h51{
	position: absolute;
	left: 35px;
	top: 155px;
	max-width: 340px;
}
.h52{
	position: absolute;
	left: 185px;
	top: 155px;
	max-width: 340px;
}
.line5{
	position: absolute;
	left: 172px;
	top: 178px;
	width: 2px;
	height: 20px;
	background-color: white;
}
.worm{
	width: 100%
}
.bg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.title{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.homescreen{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	clip: rect(210px, 310px, 450px, 70px);
}
.article1{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	clip: rect(548px, 80px, 605px, 40px);
}
.article2{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	clip: rect(548px, 150px, 605px, 90px);
}
.article3{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	clip: rect(548px, 200px, 605px, 160px);
}
.article4{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	clip: rect(548px, 260px, 605px, 210px);
}
.article5{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	clip: rect(548px, 340px, 605px, 260px);
}



