body{
	background-color: white;
}
h1{
	color: black;
	font-family: 'Megrim', cursive;
	left: 20px;
}

h2{
	color: black;
	font-family: Arial Narrow;
	left: 20px;
}

h3{
	color: black;
	font-family: Arial Narrow;
	left: 20px;
}

h4{
	color: black;
	font-family: Arial Narrow;
	left: 20px;
}

p{
	color: black;
	font-family: Arial Narrow;
	top:100px;
	width: 75vw;
	font-size: 20px;
}
.pic{
	width: 100vw
}
a{
	width: 10vw;
}



